*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}
body {

  margin-left: 20px;
    padding-top: 80px; /* height of navbar */
}

.d-flex{
    margin-left:  10px ;
    width: 500px;
    padding-right: 50px;
}

/* Navbar Start */
#navbar{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
      /* navbar background */
    padding: 10px;;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1050;           /* stays above all sections */
    background-color: #0c3578;
  
}

.navbar-nav{
    margin-left: 250px;
    font-size: 30px;
    font-family: fantasy;
    color:#f9f7f7;
    font-weight: lighter;
}
.nav-item .nav-link{
    color: var(--dark) !important;
    font-weight: 500;
    margin: 0 10px;
    transition: var(--transition);
    font-size: 16px;
    letter-spacing: 2px;
    border-radius: 3px;

}
.nav-item .nav-link:hover{
    background: rgb(98, 152, 227);
    color: rgb(244, 14, 14);
}
#navbar form button{
    background: orange;
    color: white;
    border: none;
}
/* Navbar End */

/* Home Section Start */
.home{
    height: 100vh;
    background:  center/cover no-repeat;
    background-image: url(images/adis.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    text-align: center; 
}
.home .content{
    text-align: center;
    padding-top: 70px;
}
.home .content h5{
    color: #650be3;
    font-size: 38px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
    color: #f9f9f9;
}
.home .content h1{
    color: white;
    font-size: 40px;
    font-weight: 500;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
}
.changecontent::after{
    content: ' ';
    color: #fdfbfb;
    text-shadow: 0px 1px 1px black;
    animation: changetext 10s infinite linear;
}

@keyframes changetext{
    0%{content: "Lalibela";}
    10%{content: "Axum";}
    20%{content: "Harar";}
    30%{content: "Adis Ababa City";}
    40%{content: "Erta Ale";}
    50%{content: "Awash";}
    60%{content: "Lake Tana";}
    70%{content: "Bale Mountain";}
    80%{content: "Endamic Wildelife";}
    90%{content: "Dankila";}
    100%{content: "Jima Abba Jifar";}
} 
.home .content p{
    color: rgb(238, 245, 239);
    font-size: 15px;
    font-weight: 300;
    text-shadow: 0px 1px 1px black;
    padding: 30px;
}
.home .content a{
    padding: 10px;
    background: rgb(12, 12, 12);
    color: #00ff59;
    letter-spacing: 2px;
    font-weight: 550;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.9s;

}

.home .content a:hover{
    background: #4bbaed;
    color: white;
}
@media (max-width:850px){
    .home{
        background-position: 50%;
    }
}
@media (max-width:450px){
    .home .content h5{
        font-size: 25px;
    }
    .home .content h1{
        font-size: 38px;
    }
    .home .content p{
        font-size: 20px;
    }
}
/* Home Section End */

/* Section Book Start */
.book{
    height: 90vh;
    margin-top: 20px;
    background: #edecec;
}

.main-text h1{
    text-align: center;
    text-shadow: 0px 1px 1px black;
    font-weight: 600;
}
.main-text h1 span{
    color: #ffa500;
}
.book .card{
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
}
.book .row{
    margin-top: 30px;
}
.book form input{
    padding: 10px;
    color: black;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
}

.book .submit{
    width: 160px;
    font-size: 16px;
    font-weight: 550;
    background: #ffa500;
    color: white;
    margin-top: 10px;
    transition: 0.5s;
}
.book .submit:hover{
    width: 170px;
}
@media (max-width:765px){
   
    .main-text h1{
        padding: 20px;
    }
}
/*form*/
#contactForm{
    margin-left: 5px;

}
#name{
margin: 5px;
width: 190px;
}
#email{
margin: 5px;
width: 190px;

}
#phone{
width: 190px;
margin: 5px;
}



/* Section Services Start */
.services{
    background: #edecec;
    margin-top: 20px;
    padding-bottom: 60px;
}

.card1{
    background: white;
}
.services1-grid1{
    background: #f9f9f9;
    margin-top: 50px;
}
.service-grid1 .card1{
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    border: none;
    cursor: pointer;
}
.service-grid1 .card1 i{
    font-size: 80px;
    text-align: center;
    color: #ffa500;
    margin-top: 20px;
}
.service-grid1 .card1 .head{
    text-align: center;
}
.services h1{
    padding-top:10px ;
}
/* Section Services End */





/* Section Gallary Start */
.gallary{
    margin-top: 20px;
    background: #edecec;
}
.gallary .card{
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    cursor: pointer;
}
.gallary .card img{
    border-radius: 10px;
    transition: 0.5s;
}
.gallary .card img:hover{
    transform: scale(1.1);
}
.gallary .container .main-txt h1{
    text-align: center;
    margin-top: 30px;
    font-weight: 300;
    text-shadow: 0px 1px 1px black;
}
/* Section Gallary End */




/* About Start */
.about{
    margin-top: 20px;
    background: #edecec;
}
.about .card{
    border-radius: 10px;
}
.about .card img{
    height: 100vh;
    border-radius: 10px;
}
.about h2{
    font-weight: 600;
    letter-spacing: 1px;
    
}
.about p{
    font-weight: 500;
}
.main-txt h1{
    text-align: center;
}
#about-btn{
    width: 150px;
    height: 38px;
    border: none;
    border-radius: 5px;
    background: #ffa500;
    color: white;
    letter-spacing: 2px;
    font-weight: 550;
    transition: 0.5s ease;
    cursor: pointer;
}
#about-btn:hover{
    width: 170px;
}
.about p{
    max-height: 80vh;
}
.text{
    height: fit-content;
}
@media (max-width:765px){
    .about{
        padding: 0;
    }
}
/* About End */




/* Footer Start */
#footer{
    width: auto;
    text-align: center;
        background-color: #130c50;

    
}
#footer h1{
    font-weight: 600;
    padding-top: 30px;
    text-shadow: 0px 0px 1px black;
}
#footer h1 span{
    color: #ffa500;
}
.social-links i{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background: black;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.social-links i:hover{
    background: #ffa500;
}
/* Footer End */
body {
            font-family: Arial, sans-serif;
            background-color: #f5f7fa;
            margin-bottom: 100px;
            padding: 0;
        }

.container {
            max-width: 800px;
            margin: 40px auto;
            padding: 20px;
        }
        .container1 {
            max-width: 100%;
            margin: 40px auto;
            padding: 20px;
        }
.service-grid1 {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 20px;
             border-radius: 8px;
            padding: 20px;

        }
        .card1 {
            align-items: center;
        padding: 10px; ;
        }
        .main-txt1 h1{
            text-align: center;
            margin-top: 30px;
            font-weight: 300;
            text-shadow: 0px 1px 1px black;
        }

        .destination-header {
            text-align: center;
            margin-bottom: 40px;
        }

        .destination-header h1 {
            font-size: 36px;
            color: #2c3e50;
        }

        .destination-header p {
            color: #555;
            font-size: 16px;
        }

        .destination-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
        }

        .destination-card {
            background: #ffffff;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.08);     
            border-radius: 15px;
            overflow: hidden;
            box-shadow: 0 10px 20px rgba(0,0,0,0.05);
            transition: var(--transition);
        }

        .destination-card:hover {
            transform: translateY(-5px);
        }

        .destination-card h3 {
            color: #1a5276;
            margin-bottom: 10px;
        }

        .destination-card p {
            color: #555;
            font-size: 14px;
            line-height: 1.6;
        }
        .Destinations{
      
    background: #edecec;

        }

        .Destinations,
.gallary,
.about {
    min-height: 100vh;
    height: auto;
    padding-bottom: 60px;
}




     /*   @import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");*/

/** Variables **/

:root {
  --color-background: #e7e7e7;
  --color-background-alt: #888888;
  --color-border-active: #da7105;
  --color-border-default: #d1d1d1;
  --color-highlight: #fdcf4c;
  --color-primary: #b64e08;
  --color-primary-active: #79320e;
  --color-text-default: #262626;
  --color-text-muted: #4f4f4f;

  --font-family-body: "Figtree", system-ui, sans-serif;
  --font-family-display: "Poppins", system-ui, sans-serif;
}

/** Base **/

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family-body);
  font-optical-sizing: auto;
  font-style: normal;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

[type="checkbox"],
[type="radio"],
[type="range"] {
  appearance: none;
  flex-shrink: 0;
  padding: 0;
  user-select: none;
}

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="range"]:focus {
  outline: none;
}

/** Components **/

.fs-form {
  display: grid;
  row-gap: 1.5rem;
}

.fs-form:where(.fs-layout__2-column) {
  column-gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
}

fieldset {
  display: grid;
  margin: 1.5rem 0;
  row-gap: 1.5rem;
}

.fs-form:where(.fs-layout__2-column) fieldset {
  column-gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  grid-column: 1 / -1;
}

.fs-fieldset-title {
  color: var(--color-text-default);
  font-family: var(--font-family-display);
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 1.5rem;
  grid-column: 1 / -1;
}

.fs-field {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.fs-label {
  color: var(--color-text-default);
  display: block;
  font-family: var(--font-family-display);
  font-size: 1rem;
  line-height: 1.25rem;
}

.fs-description {
  color: var(--color-text-muted);
  display: block;
  font-size: 1rem;
  line-height: 1.25rem;
}

.fs-button-group {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 1.5rem;
}

.fs-form:where(.fs-layout__2-column) .fs-button-group {
  grid-column: 1 / -1;
}

.fs-button {
  background-color: var(--color-primary);
  border-radius: 9999px;
  color: white;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.75rem 2rem;
  transition-duration: 200ms;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.fs-button:hover {
  background-color: var(--color-primary-active);
}

.fs-button:focus-visible {
  background-color: var(--color-primary-active);
  outline: 4px solid var(--color-highlight);
}

.fs-input,
.fs-select {
  appearance: none;
  border-radius: 9999px;
  border-width: 0;
  box-shadow: var(--color-border-default) 0 0 0 1px inset;
  color: var(--color-text-default);
  font-size: 1rem;
  height: 3rem;
  line-height: 1.5rem;
  outline: none;
  padding-left: 1rem;
  padding-right: 1rem;
}

.fs-input:focus-visible,
.fs-select:focus-visible {
  box-shadow: var(--color-border-active) 0 0 0 1px inset;
}

.fs-input::placeholder {
  color: var(--color-text-muted);
}

.fs-checkbox-group,
.fs-radio-group {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.fs-checkbox-field,
.fs-radio-field {
  column-gap: 0.5rem;
  display: flex;
}

:is(.fs-checkbox-field, .fs-radio-field) .fs-label + .fs-description {
  margin-top: 0.25rem;
}

.fs-checkbox-wrapper,
.fs-radio-wrapper {
  align-items: center;
  display: flex;
  height: 1.25rem;
}

.fs-checkbox,
.fs-radio {
  background-color: #fff;
  border: 1px solid var(--color-border-default);
  height: 1.25rem;
  width: 1.25rem;
}

.fs-checkbox {
  border-radius: 0.25rem;
}

.fs-radio {
  border-radius: 100%;
}

.fs-checkbox:checked,
.fs-radio:checked {
  background-color: var(--color-primary);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-color: transparent;
}

.fs-checkbox:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

.fs-radio:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}

.fs-checkbox:focus-visible,
.fs-radio:focus-visible {
  border-color: var(--color-border-active);
  outline: 4px solid var(--color-highlight);
  outline-offset: 0;
}

.fs-checkbox:checked:focus-visible,
.fs-radio:checked:focus-visible {
  border-color: transparent;
}

.fs-select {
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.75rem center;
  background-repeat: no-repeat;
  background-size: 1.625em 1.625em;
  padding-right: 2.875rem;
}

.fs-slider {
  background: transparent;
  cursor: pointer;
  height: 1.25rem;
  width: 100%;
}

.fs-slider::-moz-range-track {
  background-color: var(--color-background);
  border-radius: 0.5rem;
  height: 0.5rem;
}

.fs-slider::-webkit-slider-runnable-track {
  background-color: var(--color-background);
  border-radius: 0.5rem;
  height: 0.5rem;
}

.fs-slider::-moz-range-thumb {
  background-color: var(--color-primary);
  border: none; /* Removes extra border that FF applies */
  border-radius: 50%;
  height: 1.25rem;
  width: 1.25rem;
}

.fs-slider::-webkit-slider-thumb {
  appearance: none;
  background-color: var(--color-primary);
  border-radius: 50%;
  height: 1.25rem;
  margin-top: -0.375rem; /* Centers thumb on the track */
  width: 1.25rem;
}

.fs-slider:focus-visible::-moz-range-thumb {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}

.fs-slider:focus-visible::-webkit-slider-thumb {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}

.fs-switch {
  background-color: var(--color-background-alt);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2.75' fill='white'/%3e%3c/svg%3e");
  background-position: left center;
  background-repeat: no-repeat;
  border-radius: 1.25rem;
  cursor: pointer;
  height: 1.25rem;
  transition-duration: 200ms;
  transition-property: background-color, background-position;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 2.5rem;
}

.fs-switch:checked {
  background-color: var(--color-primary);
  background-position: right center;
}

.fs-switch:focus-visible {
  outline: 4px solid var(--color-highlight);
  outline-offset: 0;
}

.fs-textarea {
  appearance: none;
  border-radius: 0.75rem;
  border-width: 0;
  box-shadow: var(--color-border-default) 0 0 0 1px inset;
  color: var(--color-text-default);
  font-size: 1rem;
  line-height: 1.5rem;
  outline: none;
  padding: 0.5rem 0.75rem;
  resize: vertical;
}

.fs-textarea:focus-visible {
  box-shadow: var(--color-border-active) 0 0 0 1px inset;
}

.fs-textarea::placeholder {
  color: var(--color-text-muted);
}

/** Utilities **/

.col-span-full {
  grid-column: 1 / -1;
}

.fs-textarea::placeholder {
  color: var(--color-text-muted);
}

.slider-label-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.25rem;
}

.slider-label-text {
  font-size: 0.75rem;
  color: var(--color-text-muted);
  text-align: center;
  white-space: nowrap;
}

/* Hover effect */
.card img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

/* Lightbox overlay */
#lightbox {
  position: fixed;
  display: none;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  justify-content: center;
  align-items: center;
}

#lightbox img {
  max-width: 90%;
  max-height: 90%;
}

#lightbox span {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}
/* Responsive adjustments */
@media (max-width: 600px) {
  .destination-grid {
    grid-template-columns: 1fr;
  }
}

/* =========================
   MOBILE (phones)
   ========================= */
@media (max-width: 576px) {

  /* Navbar fixes */
  .navbar-nav {
    margin-left: 0 !important;
    text-align: center;
  }
  .logo {
    margin-left: 450px;
    
  }

  .d-flex {
    margin-left: 0;
    width: 100%;
    padding-right: 0;
    flex-direction: column;
    gap: 10px;
  }

  /* Home section */
  .home {
    border-radius: 5px;
  margin: 5px;
    padding: 20px;
    background-position: center;
  }


  .home .content h5 {
    font-size: 20px;
  }

  .home .content h1 {
    font-size: 28px;
  }

  .home .content p {
    font-size: 14px;
    padding: 10px;
  }

  /* Destinations */
  .destination-grid {
    grid-template-columns: 1fr;
  }

  /* Services */
  
  .service-grid1 {
    grid-template-columns: 1fr;
    height: auto;
  }

  /* Gallery */
  .gallary {
    height: auto;
  }

  .gallary img {
    height: auto;
    width: 100%;
  }

  /* Book form */
  #contactForm {
    margin-left: 0;
  }

  #name,
  #email,
  #phone {
    width: 100%;
  }

  /* About */
  .about {
    height: auto;
    margin-top: 700px;
  
  }
.container {
    padding: 0 10px;
  }
  .about .card img {
    height: 50vh;
  }

  /* Footer */
  #footer p {
    font-size: 14px;
    padding: 0 10px;
  }
}

/* =========================
   TABLET (iPad etc.)
   ========================= */
@media (max-width: 768px) {

  .navbar-nav {
    margin-left: 0;
  }
  .logo {
    margin-left: 500px;
    
  }

  .destination-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .service-grid1 {
    grid-template-columns: repeat(2, 1fr);
  }

  .home .content h1 {
    font-size: 34px;
  }

  .home .content p {
    font-size: 15px;
  }
}

/* Navbar brand text (hidden by default) */
.brand-text {
    display: none;
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-left: 10px;
    white-space: nowrap;
}

/* Logo size */
.nav-logo {
    width: 60px;
}

/* Show brand text only on mobile */
@media (max-width: 576px) {
    .brand-text {
        display: inline-block;
        color: #10eb0d;
        margin-left: 5px;
    }
    .collapse.navbar-collapse {
        display: block;
        color: #f9f7f7;
        margin-left: 0px;
        
    }
    .navbar-nav.ms-auto.mb-2.mb-lg-0  .nav-item .nav-link{
        margin: 0px;
        padding: 5px;
        text-align: start;
        margin-inline-start: auto;
    }
    
    .nav-logo {
        width: 50px;
    }
}

